@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sens-serif';
}


body {
    background: #000101;
    color: #ededed;
    background-image: url('./images/cyborg_cover.png');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0%;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    width: 100%;
    background-color: transparent;
    height: 75px;
    line-height: 75px;
    padding: 0px 120px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.navbar h1 {
    font-size: 32px;
    font-family: poppins, sans-serif;
    color: #fff;
    float: left;
}

.navbar .nav-links {
    float: right;
}

.navbar .nav-links .nav-link {
    display: inline-block;
    list-style: none;
    position: relative;
}

.navbar .nav-links .nav-link>a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 0px 16px;
    display: block;

}

.navbar .nav-links .nav-link>a:hover {
    background-color: #141312fb;
    opacity: 0.68;
}

.dropdown-first {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #141312fb;
    min-width: 100%;
    width: max-content;
    visibility: hidden;
    opacity: 0.68;
}

.dropdown-first li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 40px;
    padding: 0px 5px;
}

.dropdown-first li>a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.dropdown-first li:hover {
    background-color: #828db3;
}

.active {
    visibility: visible;
}

.heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding-left: 120px;
    padding-top: 95px;
    font-size: 25px;
}

.img {
    float: right;
}

.sorry {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 28px;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Pangolin', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
}

p{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 28px;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Pangolin', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
}